<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Price check</a></li>
  </ul>
  <h3 class="text-muted">EVE Monitor</h3>
</div>

<div ng-repeat="mail in mails" class="row">
	<div class="col-md-6" >
		<span>{{mail.sentDate}}</span>
	</div>
	<div class="col-md-6" >
		<span>{{mail.senderName}}</span>
	</div>
	<div class="col-md-12">
		<span>{{mail.title}}</span>
	</div>
</div>
