<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Price check</a></li>
  </ul>
  <h3 class="text-muted">EVE Monitor</h3>
</div>

<h2>Mail</h2>

<table class="table">
	<thead>
		<tr>
			<td ng-click="changeSorting('sentDate')">Sent</td>
			<td ng-click="changeSorting('senderName')">From</td>
			<td ng-click="changeSorting('title')">Title</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="mail in mails | orderBy:sort.column:sort.descending" class="repeat-animation" ng-click="openMail(mail.messageID)" >
			<td>{{mail.sentDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
			<td>{{mail.senderName}}</td>
			<td>{{mail.title}}</td>
		</tr>
	</tbody>	
</table>
