<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#/pricecheck">Price check</a></li>
  </ul>
  <h3 class="text-muted">EVE Monitor</h3>
</div>

<div class="row" style="border: 1px solid; border-radius: 4px; margin: 2px; padding: 2px" ng-repeat="char in eve">
  <div class="col-md-3" style="margin-top: 4px;">
    <img src="http://image.eveonline.com/character/{{char.charId}}_128.jpg" class="img-rounded"></img>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-3"><h4><p class="text-left">Name:</p></h4></div>
      <div class="col-md-9"><h4>{{char.charName}}</h4></div>
    </div>
    <div class="row">
      <div class="col-md-3"><p class="text-left">Balance:</p></div>
      <div class="col-md-9">{{char.balance | currency:""}}</div>
    </div>
    <div class="row">
      <div class="col-md-3"><p class="text-left">Skillpoints:</p></div>
      <div class="col-md-9">{{char.totalSkillpoints | number}}</div>
    </div>
    <div class="row">
      <div class="col-md-3"><p class="text-left">Corporation:</p></div>
      <div class="col-md-9">{{char.corporationName}}</div>
    </div>
    <div class="row">
      <div class="col-md-3"><p class="text-left">Alliance:</p></div>
      <div class="col-md-9">{{char.allianceName}}</div>
    </div>
    <div class="row">
      <div class="col-md-3"><p class="text-left">Skill in training:</p></div>
      <div class="col-md-9">{{getSkillNameInTraining(char.charId)}}</div>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a href='#/orders/{{char.charId}}'>Orders</a></li>
      <li><a href='#/transactions/{{char.charId}}'>Transactions</a></li>
      <li><a href="#/mail/{{char.charId}}">Mail</a></li>
      <li><a href="#">Skills</a></li>
    </ul>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
