<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Price check</a></li>
  </ul>
  <h3 class="text-muted">EVE Monitor</h3>
</div>

<div class="col-md-8">
	<h2>Transactions</h2>
</div>
<div class="col-md-4">
	<input ng-model="searchText" type="text" class="form-control" placeholder="Search"/>
</div>

<div class="pull-left" style="margin-top: 5px;">
	<tabset>
		<tab heading="Transactions">
			<table class="table">
				<thead>
					<tr>
						<td>#</td>
						<td ng-click="changeSorting('transactionDateTime')">Date</td>
						<td ng-click="changeSorting('stationName')">Station</td>
						<td ng-click="changeSorting('typeName')">Item</td>
						<td ng-click="changeSorting('quantity')">Volume</td>
						<td ng-click="changeSorting('price')">Price</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in transactions | filter:searchText | orderBy:sort.column:sort.descending" >
						<td><img src="http://image.eveonline.com/Type/{{transaction.typeID}}_32.png" /></td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.transactionDateTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.stationName}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.typeName}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.quantity}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.price | currency:'' }}</td>
					</tr>
				</tbody>	
			</table>
		</tab>
		<tab heading="Journal">
			<table class="table">
				<thead>
					<tr>
						<td>#</td>
						<td>Date</td>
						<td>Station</td>
						<td>Item</td>
						<td>Volume</td>
						<td>Price</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in transactions | filter:searchText | orderBy:+transactionDateTime" >
						<td><img src="http://image.eveonline.com/Type/{{transaction.typeID}}_32.png" /></td>
						<td ng-class="transaction.price < 0 ? 'text-danger' : 'text-success'">{{transaction.transactionDateTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
						<td ng-class="transaction.price < 0 ? 'text-danger' : 'text-success'">{{transaction.stationName}}</td>
						<td ng-class="transaction.price < 0 ? 'text-danger' : 'text-success'">{{transaction.typeName}}</td>
						<td ng-class="transaction.price < 0 ? 'text-danger' : 'text-success'">{{transaction.quantity}}</td>
						<td ng-class="transaction.price < 0 ? 'text-danger' : 'text-success'">{{transaction.price | currency:'' }}</td>
					</tr>
				</tbody>	
			</table>
		</tab>
	</tabset>
</div>
