<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Price check</a></li>
    <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	      Chararcter <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	    	<li ng-repeat="character in characters"><a href="#{{staticRoutePart}}{{character.charID}}">{{character.charName}}</a></li>
	    </ul>
  	</li>
  </ul>
  <h3 class="text-muted">EVE Monitor</h3>
</div>

<div class="col-md-8">
	<h2>Transactions</h2>
</div>
<div class="col-md-4">
	<input ng-model="searchText" type="text" class="form-control" placeholder="Search"/>
</div>

<div class="pull-left" style="margin-top: 5px;">
	<tabset>
		<tab heading="Transactions">
			<table class="table">
				<thead>
					<tr>
						<td>#</td>
						<td ng-click="changeTransactionSorting('transactionDateTime')">Date</td>
						<td ng-click="changeTransactionSorting('stationName')">Station</td>
						<td ng-click="changeTransactionSorting('typeName')">Item</td>
						<td ng-click="changeTransactionSorting('quantity')">Volume</td>
						<td ng-click="changeTransactionSorting('price')">Price</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in transactions | filter:searchText | orderBy:sortTransaction.column:sortTransaction.descending" class="repeat-animation" >
						<td><img src="http://image.eveonline.com/Type/{{transaction.typeID}}_32.png" tooltip="{{transaction.description}}" /></td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.transactionDateTime | date:'dd.MM.yyyy HH:mm:ss'}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.stationName}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.typeName}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.quantity}}</td>
						<td ng-class="transaction.transactionType == 'buy' ? 'text-danger' : 'text-success'">{{transaction.price | currency:'' }}</td>
					</tr>
				</tbody>	
			</table>
		</tab>
		<tab heading="Journal">
			<table class="table">
				<thead>
					<tr>
						<td ng-click="changeJournalSorting('date')">Date</td>
						<td ng-click="changeJournalSorting('refTypeName')">Type</td>
						<td>Participant</td>
						<td ng-click="changeJournalSorting('reason')">Reason</td>
						<td ng-click="changeJournalSorting('amount')">Amount</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="transaction in journal | filter:searchText | orderBy:sortJournal.column:sortJournal.descending" class="repeat-animation" >
						<td ng-class="transaction.isWithdrawl ? 'text-danger' : 'text-success'">{{transaction.date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
						<td ng-class="transaction.isWithdrawl ? 'text-danger' : 'text-success'">{{transaction.refTypeName}}</td>
						<td ng-class="transaction.isWithdrawl ? 'text-danger' : 'text-success'">{{getParticipant(transaction)}}</td>
						<td ng-class="transaction.isWithdrawl ? 'text-danger' : 'text-success'">{{transaction.reason}}</td>
						<td ng-class="transaction.isWithdrawl ? 'text-danger' : 'text-success'">{{transaction.amount | currency:'' }}</td>
					</tr>
				</tbody>	
			</table>
		</tab>
	</tabset>
</div>
